<tr>
	<td><%= link_to (image_tag contact.image(:thumb)), contact %></td>
  <td><%= contact.name.cap_words %></td>
  <td><%= mail_to contact.email, contact.email, :encode => "hex", :target => "_blank" %>
  <td><%= contact.phone.phony_formatted!(:format => :international) %></td>
  <td><%= link_to 'Show', contact %></td>
  <td><%= link_to 'Edit', edit_contact_path(contact) %></td>
  <td><%= link_to 'Destroy', contact, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>