<%= simple_form_for(@contact, html: { class: "form-horizontal", :multipart => true }) do |f| %>
  <%= f.error_notification %>
  <%= f.full_error :image_file_size, class: "alert alert-error" %>
  <%= f.full_error :image_contact_type, class: "alert alert-error" %>


  <%= f.input :name, input_html: { rows: "3" } %>
  <%= f.input :email, input_html: { rows: "3" } %>
  <%= f.input :phone, input_html: { rows: "3" } %>
  <%= f.input :file, label: "Upload Image" %>
  <%= f.input :remote_file_url, label: "or input url", input_html: { rows: "3" } %>

  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-primary" %>
  </div>
<% end %>
